* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  padding: 50px;
}

#heading {
  margin-bottom: 25px;
  font-size: 30px;
  text-align: center;
}

#subheading {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
}

#game-canvas {
  margin: 0 auto;
  border: 5px solid black;
  background-color: black;
}

#game-canvas .row {
  display: block;
}

#victory-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}

#victory-modal {
  position: absolute;
  background-color: white;
  padding: 20px;
  text-align: center;
  z-index: 101;
  border-radius: 2px;
  margin: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#victory-modal .text {
  font-size: 20px;
  padding: 20px;
}

#victory-modal button {
  margin: 10px;
  background-color: grey;
  border-radius: 4px;
  border: none;
  // height: 25px;
  padding: 10px;
  font-size: 15px;
  color: white;
  text-align: center;
}

#victory-modal #quit {
  background-color: black;
}

#victory-modal #continue {
  background-color: #008BEE;
}

.empty, .W, .L, .B, .Y, .O {
  display: inline-block;
}

.W {
  background-color: #99D3FC;
}

.L {
  background-color: #008BEE;
}

.B {
  background-color: #2100F1;
}

.Y {
  background-color: #FFCA00;
}

.O {
  background-color: #FF9000;
}
