* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  padding: 50px;
}

#heading {
  margin-bottom: 25px;
  font-size: 30px;
  text-align: center;
}

#subheading {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
}

#game-canvas {
  position: relative;
  margin: 0 auto;
  border: 5px solid black;
  background-color: black;
}

#selection {
  //
}

#game-canvas .row {
  display: block;
}

#victory-backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 100;
  text-align: center;
}

#victory-modal {
  position: absolute;
  background-color: white;
  padding: 20px;
  text-align: center;
  z-index: 101;
  // border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#victory-modal .text {
  font-size: 20px;
  padding: 20px;
}

#victory-modal button {
  margin: 10px;
  background-color: grey;
  // border-radius: 4px;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: white;
  text-align: center;

  // margin: 10px;
  // background: none;
  // /* border-radius: 4px; */
  // border: 2px solid black;
  // padding: 10px;
  // font-size: 15px;
  // color: black;
  // text-align: center;
}

#victory-modal #quit {
  background-color: black;

  // border: 2px solid black;
  // color: black;
}

#victory-modal #continue {
  background-color: #008BEE;

  // border: 2px solid #008BEE;
  // color: #008BEE;
}

.null, .a, .b, .c, .d, .e, .f, .g {
  display: inline-block;
}

.a {
  background-color: #A80099;
}

.b {
  background-color: #FF0000;
}

.c {
  background-color: #FF9201;
}

.d {
  background-color: #F9FF00;
}

.e {
  background-color: #00A335;
}

.f {
  background-color: #009ACE;
}

.g {
  background-color: #2A659B;
}

// .h {
//   background-color: #FF3F95;
// }

// .i {
//   background-color: #;
// }

// .j {
//   background-color: #;
// }

// .k {
//   background-color: #;
// }

// .l {
//   background-color: #;
// }
