#content {
  padding: 100px;
}

#game-canvas {
  margin: 0 auto;
  border: 5px solid black;
  background-color: black;
}

#game-canvas .row {
  // border: 1px solid black;
  display: block;
}

#game-canvas .col {
  // border: 1px solid black;
  display: inline-block;
}

.W {
  background-color: #99D3FC;
}

.L {
  background-color: #008BEE;
}

.B {
  background-color: #2100F1;
}

.Y {
  background-color: #FFCA00;
}

.O {
  background-color: #FF9000;
}
