#content {
  padding: 50px;
}

#heading {
  margin-bottom: 25px;
  font-size: 30px;
  text-align: center;
}

#subheading {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
}

#game-canvas {
  margin: 0 auto;
  border: 5px solid black;
  background-color: black;
}

#game-canvas .row {
  display: block;
}

.empty, .W, .L, .B, .Y, .O {
  display: inline-block;
}

.W {
  background-color: #99D3FC;
}

.L {
  background-color: #008BEE;
}

.B {
  background-color: #2100F1;
}

.Y {
  background-color: #FFCA00;
}

.O {
  background-color: #FF9000;
}
