* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "Pixelicious";
  cursor: default;
}

@font-face {
  font-family: "Pixelicious";
  src: url("Pixelicious.ttf");
  src: url("Pixelicious.ttf") format("truetype");
}

body {
  background-color: black;
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#title-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#title {
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  font-size: 5vw;
}

#subtitle {
  cursor: pointer;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  text-align: center;
  font-size: 2.6vw;
}

#game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

#selection {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  color: white;
  /*padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;*/
  font-size: 2.6vw;
}

/*.buttons {
  padding-left: 20px;
  padding-right: 20px;
}*/

#selection button {
  cursor: pointer;
  margin: 4px;
  background: none;
  border: none;
  border-radius: 10px;
  font-size: 2.6vw;
}

#game-canvas {
  height: 100%;
  width: 100%;
}

#game-canvas .row {
  display: block;
}

.victory-backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  z-index: 100;
  text-align: center;
}

.victory-modal {
  position: absolute;
  background-color: white;
  padding: 20px;
  text-align: center;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  height: 0;
  width: 0;
  display: none;
}

.victory-modal .text {
  font-size: 20px;
  padding: 20px;
}

.victory-modal button {
  margin: 10px;
  background-color: grey;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: white;
  text-align: center;
}

.victory-modal .quit {
  background-color: black;
}
.null, .a, .b, .c, .d, .e, .f, .g, .h {
  float: left;
  margin: 1px;
}

.a {
  background-color: #A80099;
}

.b {
  background-color: #FF0000;
}

.c {
  background-color: #FF9201;
}

.d {
  background-color: #F9FF00;
}

.e {
  background-color: #00A335;
}

.f {
  background-color: #009ACE;
}

.g {
  background-color: #2A659B;
}

.h {
  background-color: #FF3F95;
}
